@model Alumno
@{
    ViewData["Title"] = "Informacion de un Alumno";
    Layout = "simple";
}

<h1>@ViewData["Title"]</h1>
<partial name="ObjetoEscuelaSimple"></partial>
<p><i>@ViewData["Fecha"]</i></p>
