@{
    ViewData["Title"] = "Informacion de todas las Asignaturas";
    Layout = "simple";
}

<h1>@ViewData["Title"]</h1>
<partial name="ListaObjetoEscuela"></partial>
<p><i>@ViewData["Fecha"]</i></p>
